body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#card{
    height: 40vh;
    width: 50vh;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgb(67, 67, 67);
}

#card:hover{
    box-shadow: 0px 0px 20px 10px grey;
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
}

svg{
    position: absolute;
    top: 55vh;
}

#svg1{
    margin-right: 500px;
}
#svg2{
    margin-left: 500px;
}
